<div id="msg-wrapper" class="col-12 m-0 p-0 py-1 wrapper" data-chat="<%= params[:chat] || 0 %>">
  <% @messages.each do |msg| %>

    <!-- MESSAGE ROW  -->

      <div id="msg-row-wrapper" class="row m-0 p-0 py-2 chat-row h-100">
        <% if msg.user.id.to_i == current_user.id.to_i %>
          <!-- USER OWN MESSAGE  -->
          <div class="col-auto px-3 py-1 rounded bg-secondary chat-bubble ml-auto">
            <p class="text-justify font-message m-0 p-0 py-1 word-break">
              <%= msg.body %>
            </p>
            <!-- timestamp -->
            <div class="col-12 p-0 m-0 text-dark msg-timestamp font-xs text-right">
              <%= time_ago_in_words(msg.created_at) + " " + t("past_time_suffix") %>
            </div>
            <!-- end of timestamp -->

            <!-- signature -->
            <div class="col-12 p-0 m-0 text-dark msg-signature font-sm text-left">
              <i>- <%= t("own_signature") %></i>
            </div>
            <!-- end of signature -->

          </div>
          <!-- END OF USER OWN MESSAGE -->

        <% else %>

          <!-- OTHER USER MESSAGE -->
          <div class="col-auto px-3 py-1 rounded bg-warning chat-bubble">
            <p class="text-justify font-message m-0 p-0 py-1 word-break">
              <%= msg.body %>
            </p>
            <!-- timestamp -->
            <div class="col-12 p-0 m-0 text-muted msg-timestamp font-xs text-right">
              <%= time_ago_in_words(msg.created_at) %>
            </div>
            <!-- end of timestamp -->

            <!-- signature -->
            <div class="col-12 p-0 m-0 text-dark msg-signature font-sm text-left">
              <i>-<%= msg.user.username %></i>
            </div>
            <!-- end of signature -->

          </div>
          <!-- END OF OTHER USER MESSAGE -->

        <% end %>
      </div>

    <!-- END OF MESSAGE ROW -->
  <% end %>
</div>
