<% authorize %>
<div id="settings" class="row m-0 p-0 bg-dark">
  <div class="col-12 m-0 p-0 wrapper">

    <!-- TITLE ROW -->
    <div class="row m-0 p-0 border-bottom border-warning">
      <div class="col-12 m-0 px-3">
        <h2 class="text-warning"><i class="fas fa-users-cog"></i>&nbsp;<%= t('settings_title') %></h2>
      </div>
    </div>
    <!-- END OF TITLE ROW -->

    <!-- OPTIONS TAB ROW  -->
    <div class="row m-0 p-0">


      <!-- TAB TITLEs -->
      <div class="col-4 m-0 p-0">
        <div class="nav flex-column nav-tabs border-0" id="canais-local" role="tablist">
            <a class="nav-link ml-1 list-tab-button text-warning active" data-toggle="pill" role="tab" href="#tab-profile"><%= t("settings_profile") %></a>
            <a class="nav-link ml-1 list-tab-button text-warning" data-toggle="pill" role="tab" href="#tab-password"><%= t("settings_password") %></a>
            <a class="nav-link ml-1 list-tab-button text-danger" data-toggle="pill" role="tab" href="#tab-delete"><%= t("settings_delete") %></a>
        </div>
      </div>
      <!-- END OF TAB TITLES  -->

      <!-- TAB CONTENT -->
      <div class="col-8 m-0 p-0">
        <div class="tab-content px-5 pb-5">

          <!-- TAB # 1 > SETTINGS PROFILE -->
          <%= render "account_settings_profile" %>
          <!-- END OF TAB # 1 -->

          <!-- TAB # 2 > SETTINGS PASSWORD -->
          <%= render "account_settings_password" %>
          <!-- END OF TAB # 2 -->

          <!-- TAB # 3 > SETTINGS DELETE -->
          <%= render "account_settings_delete" %>
          <!-- END OF TAB # 3 -->

        </div>
      </div>
      <!-- END OF TAB CONTENT -->

    </div>
    <!-- END OF OPTIONS TAB ROW  -->

  </div>
</div>
